
  
  
  button {
    padding: 1rem;
    border: 1px;
    background-color:rgb(32, 68, 64);
    cursor: pointer;
    color: #fff;
    
  }
  
  /* Luokka valitsimet */
  
  .container {
      background-color: #fefae0;
      max-width: 1200px;
  }
  
  .nav-container {
  display: flex;
  justify-content: space-between;
  }
  
  
  .img-kohde,
  .img-kartta {
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
  margin: auto;
  
  }
  
  
  .karuselli {
  margin: auto;
  max-width: 100%;
  
  
  }
  
  
  .aktiviteetit {
  float:right;
  background-color: rgb(174, 190, 174);
  clear: left;
  max-width: auto;
  max-height: auto;
  padding: .5rem;
  }
  
  .flexbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  float: right;
  row-gap: 1rem;
  padding: 2rem;
  width: 300px;
  }      
    
  .tähdet {
  float: right;
  background-color: rosybrown;
  
  }
  
  .sää {
  border: lightcoral solid;
  float: right;
  clear: left;
  justify-content: space-evenly;
  width: auto;
      
  }
  
  .flex-container {
  margin: 3rem;
  display: flex;
  } 
  
  
  
  
  #kirjaudu {
   height: 100%; 
   justify-content: center;
   text-align: center;
  
  }
  
  
  
  #rekisteröidy {
  height: 100%; 
  justify-content: center;
  text-align: center;
  
  }
  
  
  #kuvaus {
  text-align: center;
  padding: 2rem;
      
  }
  
  #arvostelut {
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-top: auto;
  margin-right: 20px; 
  margin-bottom: 60px;
  padding: .5rem;
  font-size: 1rem;
  border: rgb(202, 182, 177) solid;
  background-color: rgb(202, 182, 177);
  background-attachment: fixed;
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  } 
