.container {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: teal;
}

header {
    margin: 0 auto;
}

section {
    max-width: 35%;
    text-align: center;
}

form {
    margin: 1rem 0;
}

li {
    margin: .5rem 0;
}

article {
    width: 25%;
    display: flex;
    align-items: flex-end;
}

article img {
    max-width: 100%;
    max-height: auto;
}

aside {
    border: 5px dotted black;
    width: 25%;
    height: 270px;
}

