body.menu-open {
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6,p {
    color: #082121;
}

a {
    color: #082121;
}

a:hover {
    color: #082121;
    text-decoration: underline;
}

/* Header */

.navbar {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    z-index: 9990;
    transition: right .5s;
}

body.menu-open .navbar {
    right: 0;
}

.navbar-nav .nav-link {
    font-size: 2.5rem;
}

.navbar-nav .nav-link:hover {
    text-decoration: none;
}

.navbar-brand img {
    height: 4rem;
    border-radius: 50%;
    justify-content: center;
}

#menuBtn {
    position: absolute;
    top: 1rem;
    right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    padding: 0;
    border: none;
    z-index: 9999;
}

#menuBtn .menu-btn-bar {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: black;
    border-radius: .125rem;
    transition: opacity .25s, top .25s, bottom .25s, transform .25s, background-color .25s;
}

#menuBtn .menu-btn-bar:first-child {
    top: 2px;
}

#menuBtn .menu-btn-bar:nth-child(2),
#menuBtn .menu-btn-bar:nth-child(3) {
    top: 50%;
    margin-top: -3px;
}

#menuBtn .menu-btn-bar:last-child {
    bottom: 2px;
}

body.menu-open #menuBtn .menu-btn-bar:first-child {
    top: -6px;
    opacity: 0;
}

body.menu-open #menuBtn .menu-btn-bar:last-child {
    bottom: -6px;
    opacity: 0;
}

body.menu-open #menuBtn .menu-btn-bar:nth-child(2) {
    background-color: #000000;
    transform: rotate(45deg);
}

body.menu-open #menuBtn .menu-btn-bar:nth-child(3) {
    background-color: #000000;
    transform: rotate(-45deg);
}

/* /Header */


footer {
    background-color: #A7e8e8;
    margin-top: 2rem;
}

footer a {
    color:#082121;
    text-decoration: none;
}

#prevBtn.carousel-control-prev {
    bottom: -3.5rem;

}

#nextBtn.carousel-control-next {
    bottom: -3.5rem;
}

#footerLogo {
    border-radius:50%;
}

.container-fluid.max-width {
    max-width: 1150px;
}

/* navbar color */
.navbar-light {
    background: #ffffff !important;
}

.nav-link{
    color: #082121 !important;
}

.homepage-img {
    position: relative;
    background-size: cover;
    background-position: center; 
    padding-top: 100%; 
    height: 0;
}

.homepage-img div.cont{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: black;
    text-align: center;
    padding: 0 2rem;
    margin: 0;
    transform: translateY(-50%);
}

.homepage-img h1 {
    text-shadow: 0 0 10px rgb(248, 244, 244);
}

.homepage-img .form-control {
    display: inline;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.65);
    max-width: 14rem;
}

/* form infline color */
.form-control:focus {
    border-color: #4be7e7;
    box-shadow: 0 0 0 0.2rem #4be7e7;
} 


.rounded {
    border-radius: .565rem !important;
}

.slide-img {
    height: 13rem !important;
    position: relative;
    border:none;
    margin-bottom:0 !important;
    padding-bottom: 0!important;
    border-radius: .565rem !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.65)!important;
    transition: all 0.2s ease-in-out !important;
    background-color: #f2f3f7;
    text-shadow: 10px 10px 10px rgb(248, 244, 244)!important;
    font-weight: 600;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-img:hover{
    visibility: visible;
    animation: fade 0.5s;
    transform: translateY(-0.3rem);
    box-shadow: none;
    opacity: 0.8;

}


.move {
    right: 0px;
    transition: all .6s ease-in-out !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-sroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .example {
    -ms-overflow-style: none;
  }




/*-------------------------------------------------*/

@media (max-width: 768px) {
    .navbar-brand {
        width: 100%;
        margin-right: 0rem;
    }
}


@media (min-width: 576px) {
    .homepage-img {
        padding-top: 56.25%;
    }

}
 
@media (min-width: 768px) {
    .navbar {
        position: relative;
        left: 0;
    }
    .navbar-nav .nav-link {
        font-size: 1.125rem;
    }
    .navbar-brand {
        justify-content: center;
    }
    .homepage-img {
        padding-top: 45%; /* 16:9 (suhdeluvut)*/
    }

}

@media (min-width: 992px) {
    .homepage-img {
        padding-top: 33%; /* 16:9 (suhdeluvut)*/

    }


}
