* {
    box-sizing: border-box;
}

/* Tyyppi valitsimet */

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EEEEEE;
    margin: 0 auto;
}

main {
    background-color:  rgb(173, 171, 185);
    padding: 1rem;
}

header {
    background-color: #ccccc6;
}

footer {
    background-color:#ccccc6;
    text-align: center;
}

figure {
    margin:0;
}

li {
    text-decoration: none;
}

header nav ul,
footer ul {
    list-style-type: none;
    display: inline;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

a {
    color: grey;
}

a:link {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* aktiviteetit */
.row {
    display: flex;
    text-align: center;
    color: white;
  
  }
  
  .imageHolder img {
    width: 100%;
      height: auto;
      display: block;
    border-radius: 25px;
  }
  
  .imageHolder {
      width: 31.3%;
      float: left;
      margin: 1%;
    
  }
  
  .imageHolder .caption {
    position: relative;
    top: -45%;
    font-weight: bold;
    opacity: 0.9;
    text-shadow: 2px 2px black;
  }

  /* aktiviteetit */

/* Luokka valitsimet */
.img-main {
    position: relative;
    background-color: aqua;
    background-image: url("../images/mountains-1899264__340.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    height: 0;
}



.img-main h1 {
    position: absolute;
    top: 37.5%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
}

.img-main div {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
}





.container {
    background-color: #fefae0;
    max-width: 1200px;
    margin: 0 auto;
}
.container.header {
    display: flex;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}

.flex-container {
    position: relative;
    display: flex;
    justify-content: space-between; /*tyhj채 tilaa j채채 v채leihin. */
}

.flex-container button.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 60%;
    border: none;
}

.flex-container button.next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 60%;
    border: none;
}

.flex-container img {

    height: 10%;
}

.col {
    width: 32%;

}


/* ID-valitsimet */
#logo {
    /* background-image: url("images/kompassi_logo.png"); */
    display: block;
    height: 4rem;
    width: auto;
}


@media (min-width: 480px) {
    .img-main {
        padding-top: 56.25%; /* 16:9 (suhdeluvut)*/
    }

}

@media (min-width: 900px) {
    .img-main {
        padding-top: 36%; /* 16:9 (suhdeluvut)*/
    }

}
